ol,ul,li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;	
	list-style: none;
}
body {
	background-color:#f0f0f0;
	color:#444444;
	color:#231f20;
	font-family:'akzidenz', sans-serif;
	font-size:0.7em;
	letter-spacing:0.15em;
	-webkit-font-smoothing: antialiased;
}

A {
	color:#444444;
	color:#231f20;
	text-decoration:none;
}
A:hover {
	text-decoration:underline;
}

#wrapper {
	width:1255px;
	margin:0 auto;
	margin-top:25px;
}
#header {
	height:100px;
}
#logo_baseline, #logo, #presentation {
	display:block;
	float:left;
}
.ligne {
	margin-left:30%;
	width:861px;
	margin-bottom:30px;
	border-top:1px dotted #444444;
}

#presentation P{
	padding:0;
	margin:0;
}
#presentation {
	margin-left:30px;
}

#nav {
	float:left;
	width:25%;
	padding-right:5%;
}

#nav A.selected{
	color:#ccc;
}

#nav A{
	display:block;
	text-transform:uppercase;
	line-height:1.8em;
}
#nav A.main{
	display:block;
	font-weight:bolder;
	cursor:pointer;
}
#nav .wrap{
	overflow: hidden;
}
#nav .visible{
	display: block;
}
#apropos {
	margin-top:70px;
}
#apropos A{
	
	font-weight:bolder;
}
#content {
	float:left;
	width:70%;
	margin-left:-17px;
}

HR,.clear:after,.z:after{content:".";display:block !important;height:0;clear:both;visibility:hidden;margin:0;padding:0;border:none}HR,.clear,.z{display:inline-block}.hidden{visibility:hidden}* html .clear, * html HR, * html
.z{height:1%}.clear,.z{display:block}

#content .wrap, .cell {
	float:left;
	overflow:hidden;
	margin-left:17px;
	margin-bottom:17px;
}

.project:after, .cell .text{
	content: '';
	position: absolute;
	transition: opacity 0.5s ease;
	width:202px;
	height:138px;
	display: block;
	opacity: 0;
	color: white;
	background-color: rgba(0,0,0,0.8);
}
.big:after, .big .text{
	width:421px;
	height:283px;
}
.cell .text B{
	display: block;
	margin: 5%;
	margin-top: 35%;
	margin-bottom: 2%;
}
.cell .text P{
	display: block;
	margin: 5%;
	margin-top: 0;
}
.project:hover:after, .cell:hover .text{
	opacity: 1;
}
.cell {
	width:202px;
	height:138px;
	background:black no-repeat top center;
	background-size:100% auto;
}
#content .center {
	background-position:center center;
}
#content .alt {
	background-size:auto 100%;
}
.cell IMG{
	width:100%;
	display:block;
	visibility: hidden;
}
.cell:hover{

}
#content .wrap{
	width:438px;
	height:283px;
}
 #content .big {
	width:421px;
	height:283px;
	margin-left:0;
}



#content .wrap .cell {
	margin-left:0;
	margin-right:17px;
}

.page_line{
	margin-left:17px;
	
}
.page_line .case P{
	margin: 0;
}
.page_line .case{
	float:left;
	width:50%;
	overflow: hidden;
	margin-bottom: 10px;
}
.page_line .case IMG{
	width: 98%;
	margin-left: 2%;
}
.page IMG{
	width:50%;
}
.page {
	margin-left:17px;
	float:left;
	width:422px;
	letter-spacing: 0.1em;
}


hr{
	border: 0;
	height: 0;
	clear:both;
}
#sliding{
	position: relative;
}
#slider{
	height: 500px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#slider #zone{
	height: 500px;
	overflow: hidden;
}
#slider .slide{
	line-height: 500px;
	text-align: center;
	width:879px;
	height: 500px;
	overflow: hidden;;
	display: inline-block;
}
#slider .slide IMG {
/*    cursor:url(../images/zoom.cur), -moz-zoom-in;*/
}
#cadre IMG{
/*	cursor: url(../images/zoomout.cur), -moz-zoom-out;*/	
}
#cadre IMG, #slider .slide IMG{
	display: inline-block;
	vertical-align: middle;
	max-height: 95%;
	max-width: 95%;
}
#slider:hover .nav{
	opacity: 1;
}

#slider .nav{
	transition:all 0.5s ease;
	display: block;
	height: 500px;
	width: 100px;
	position: absolute;
	z-index: 100;
	cursor: pointer;
	opacity: 0;
	background_-color: red;
}
#slider .nav:before{
	content: '';
	display: block;
	width:40px;
	height:40px;
	position: absolute;
	top:245px;
	margin-left:30px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	cursor:pointer;
	z-index: 98;
}
#slider #prev:before{
	transition:all 0.5s ease;
	border-left:1px solid #3C3C3C; 
	border-bottom:1px solid #3C3C3C; 
}
#slider #prev:hover:before{
	border-left:4px solid #ccc; 
	border-bottom:4px solid #ccc; 
}
#slider #next:before{
	transition:all 0.5s ease;
	border-right:1px solid #3C3C3C; 
	border-top:1px solid #3C3C3C; 
}
#slider #next:hover:before{
	border-right:4px solid #ccc; 
	border-top:4px solid #ccc; 
}
#slider #prev{
	margin-left: -50px;
}
#slider #next{
	margin-left: 830px;
}
#description {
	margin:0 auto;
	height: 140px;
	margin-top:10px;
	margin-bottom:10px;
	width: 500px;
	letter-spacing: 0.1em;
}
#cadre {
	position: absolute;
	z-index:100;
	top: 0;
	left: 0;
	display:none;
	text-align: center;
}
#fond{
	z-index:99;
/*	-webkit-filter: blur(3px);
	filter: blur(3px);
*/	background:rgba(0,0,0,0.9);
	position: absolute;
	top: 0;
	left: 0;
	display:none;
}
#fond:after{
	position: absolute;
	top: 48%;
	left: 48%;
	z-index: 1000;
	display: block;
	content: '';
	width: 40px;
	height: 40px;
	border-radius: 50%;
    -webkit-animation: super-rainbow 0.5s infinite linear;
    -moz-animation: super-rainbow 0.5s infinite linear;
}

/* See http://css-tricks.com/color-animate-any-shape-2/ */
 @-webkit-keyframes super-rainbow {
    0% {
        background: #ffff00;
    }
    20% {
        background: #ffcd00;
    }
    40% {
        background: #c3d74b;
    }
    60% {
        background: #c3d7d7;
    }
    80% {
        background: #ffc39b;
    }
    100% {
        background: #ffff00;
    }
}
@-moz-keyframes super-rainbow {
    0% {
        background: #ffff00;
    }
    20% {
        background: #ffcd00;
    }
    40% {
        background: #c3d74b;
    }
    60% {
        background: #c3d7d7;
    }
    80% {
        background: #ffc39b;
    }
    100% {
        background: #ffff00;
    }
}



#tmp_page {
	display: none;
	position: absolute;
	top:0;
}



/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 23, 2014 */



@font-face {
    font-family: 'akzidenz';
    src: url('../font/akzidgroproreg-webfont.eot');
    src: url('../font/akzidgroproreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/akzidgroproreg-webfont.woff') format('woff'),
         url('../font/akzidgroproreg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}