ol,ul,li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;	
	list-style: none;
}
body {
	background-color:#f0f0f0;
	color:#444444;
	color:#231f20;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	letter-spacing:0.15em;
}

A {
	color:#444444;
	color:#231f20;
	text-decoration:none;
}
A:hover {
	text-decoration:underline;
}

#wrapper {
	width:1255px;
	margin:0 auto;
	margin-top:25px;
}
#header {
	height:100px;
}
#logo_baseline, #logo, #presentation {
	display:block;
	float:left;
}
.ligne {
	margin-left:30%;
	width:861px;
	margin-bottom:30px;
	border-top:1px dotted #444444;
}

#presentation P{
	padding:0;
	margin:0;
}
#presentation {
	margin-left:30px;
}

#nav {
	float:left;
	width:25%;
	padding-right:5%;
	display: none;
}

#nav A.selected{
	font-style: italic;
	text-transform: lowercase;
}

#nav A{
	display:block;
	text-transform:uppercase;
	line-height:1.8em;
}
#nav A.main{
	display:block;
	font-weight:bolder;
	cursor:pointer;
}
#nav .wrap{
	overflow: hidden;
}
#nav .visible{
	display: block;
}
#apropos {
	margin-top:70px;
}
#apropos A{
	
	font-weight:bolder;
}
#content {
	float:left;
	width:70%;
	margin-left:-17px;
	display: none;
}

HR,.clear:after,.z:after{content:".";display:block !important;height:0;clear:both;visibility:hidden;margin:0;padding:0;border:none}HR,.clear,.z{display:inline-block}.hidden{visibility:hidden}* html .clear, * html HR, * html
.z{height:1%}.clear,.z{display:block}

#content .wrap, .cell {
	float:left;
	overflow:hidden;
	margin-left:17px;
	margin-bottom:17px;
}

.cell {
	width:202px;
	height:138px;
	background:black;
}
.cell IMG{
	/*margin-top: -10%;	*/
	transition: opacity 0.5s ease;
	width:100%;
	display:block;
}
.cell:hover IMG{
	opacity:0.5;
}
#content .wrap{
	width:438px;
	height:283px;
}
 #content .big {
	width:421px;
	height:283px;
	margin-left:0;
}



#content .wrap .cell {
	margin-left:0;
	margin-right:17px;
}

.page_line{
	margin-left:17px;
	
}
.page_line .case P{
	margin: 0;
}
.page_line .case{
	float:left;
	width:50%;
	overflow: hidden;
	margin-bottom: 10px;
}
.page_line .case IMG{
	width: 98%;
	margin-left: 2%;
}
.page IMG{
	width:50%;
}
.page {
	margin-left:17px;
	float:left;
	width:422px;
}


hr{
	border: 0;
	height: 0;
	clear:both;
}
#sliding{
	position: relative;
}
#slider{
	margin-left:20px;
	height: 500px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#slider #zone{
	height: 500px;
	overflow: hidden;
}
#slider .slide{
	line-height: 500px;
	text-align: center;
	width:879px;
	height: 500px;
	overflow: hidden;;
	display: inline-block;
}
#slider .slide IMG {
    cursor:url(../images/zoom.cur), -moz-zoom-in;
}
#cadre IMG{
	cursor: url(../images/zoomout.cur), -moz-zoom-out;	
}
#cadre IMG, #slider .slide IMG{
	display: inline-block;
	vertical-align: middle;
	max-height: 95%;
	max-width: 95%;
}
#slider .nav{
	display: block;
	width:40px;
	height:40px;
	position: absolute;
	top:400px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	cursor:pointer;
	z-index: 98;
}
#slider .nav{
	transition:opacity 1s ease;
	opacity: 0;
}
#slider:hover .nav{
	opacity: 1;
}
#slider #prev{
	transition:all 0.5s ease;
	border-left:2px solid #3C3C3C; 
	border-bottom:2px solid #3C3C3C; 
}
#slider #prev:hover{
	border-left:8px solid blue; 
	border-bottom:8px solid blue; 
}
#slider #next{
	transition:all 0.5s ease;
	border-right:2px solid #3C3C3C; 
	border-top:2px solid #3C3C3C; 
	margin-left: 810px;
}
#slider #next:hover{
	border-right:8px solid blue; 
	border-top:8px solid blue; 
	margin-left: 810px;
}
#description {
	height: 140px;
	margin-top:10px;
	margin-bottom:10px;
}
#cadre {
	position: absolute;
	z-index:100;
	top: 0;
	left: 0;
	display:none;
	text-align: center;
}
#fond{
	z-index:99;
/*	-webkit-filter: blur(3px);
	filter: blur(3px);
*/	background:rgba(0,0,0,0.9);
	position: absolute;
	top: 0;
	left: 0;
	display:none;
}
#fond:after{
	position: absolute;
	top: 48%;
	left: 48%;
	z-index: 1000;
	display: block;
	content: '';
	width: 40px;
	height: 40px;
	border-radius: 50%;
    -webkit-animation: super-rainbow 0.5s infinite linear;
    -moz-animation: super-rainbow 0.5s infinite linear;
}

/* See http://css-tricks.com/color-animate-any-shape-2/ */
 @-webkit-keyframes super-rainbow {
    0% {
        background: #ffff00;
    }
    20% {
        background: #ffcd00;
    }
    40% {
        background: #c3d74b;
    }
    60% {
        background: #c3d7d7;
    }
    80% {
        background: #ffc39b;
    }
    100% {
        background: #ffff00;
    }
}
@-moz-keyframes super-rainbow {
    0% {
        background: #ffff00;
    }
    20% {
        background: #ffcd00;
    }
    40% {
        background: #c3d74b;
    }
    60% {
        background: #c3d7d7;
    }
    80% {
        background: #ffc39b;
    }
    100% {
        background: #ffff00;
    }
}

